<div class="container">
   <div class="row">

   	<!-- first section takes 4 columns --><!-- Scale from small! -->
     <nav class="col-xs-4" id="sidebar">
       <button class="btn btn-default" ng-click="clearForm()">
         New Note
       </button>
       <ul id="notes">
         <li ng-repeat="note in notes track by $index" ng-click="edit(note)">
            {{ note.title }}
         </li>
       </ul>
     </nav>

     <!-- second section takes 8 columns -->
     <main class="col-xs-8" ui-view></main>
  	</div>

</div>